VITE_FIREBASE_API_KEY=AIzaSyD8NZvEcRcjIMIc38-oNu5LG7g2WHF909U
VITE_FIREBASE_AUTH_DOMAIN=gtfast-7bf85.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gtfast-7bf85
VITE_FIREBASE_STORAGE_BUCKET=gtfast-7bf85.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=133834720295
VITE_FIREBASE_APP_ID=1:133834720295:web:ea6d6c3349ac3c7b3a7a02
VITE_FIREBASE_MEASUREMENT_ID=G-J4J50RE9L3
VITE_FUNCTIONS_URL=/api
VITE_BOOTSTRAP_ADMIN_EMAIL=admin@hunteinvest.com
